certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
Flask==2.2.2
#added Flask-Login to help with Oath2.0
Flask-Login==0.6.2
#also installed oauthlib
oauthlib==3.2.2
#pyOpenSSL to help make https calls
pyOpenSSL==22.1.0
Flask-SQLAlchemy==3.0.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
requests==2.28.1
SQLAlchemy==1.4.42
urllib3==1.26.12
Werkzeug==2.2.2